* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.welcome {
  font-weight: 600;
  font-size: 20px;
  padding-top: 54px;
  padding-left: 6.4%;
  color: #28352f;
}

.fa-bars {
  position: absolute;
  top: 57px;
  right: 9.34%;
}

.header {
  margin-top: 16px;
  height: 648px;
  background-image: url(./assets/images/header_mobile_background.png);
  background-size: 100% 648px;
  text-align: center;
}

.desktop-menu {
  display: none;
}

.black-text-header {
  padding-top: 64px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  animation-name: main-mobile-header;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

@keyframes main-mobile-header {
  50% {
    font-size: 50px;
  }
}

span {
  color: #36b37f;
}

.black-text-header-desktop {
  display: none;
}

.header-paragraph {
  padding-top: 43px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
}

.header-paragraph-desktop {
  display: none;
}

.social-media-icons {
  padding-top: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 19px;
}

.chevron {
  margin-top: 53px;
  padding: 8px;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
}

.recent-works-header {
  padding-top: 47px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.recent-works-header-desktop {
  display: none;
}

.green-line {
  display: block;
  margin: auto;
  margin-top: 24px;
}

.recent-works {
  width: 86.13%;
  margin: auto;
  margin-top: 62px;
  margin-bottom: 68px;
  display: grid;
  grid-template-rows: repeat(6, 474px);
  row-gap: 24px;
}

.recent-work {
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.multi-post {
  margin-top: 250px;
  height: 222px;
  background: #fff;
  border-radius: 8px;
}

.multi-post-header {
  padding-top: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  text-align: center;
}

.multi-post-skills {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  column-gap: 2.14%;
  list-style: none;
}

.multi-post-skill {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  padding: 8px 3.2%;
  background: #ebf0ee;
  border-radius: 4px;
}

.work-button {
  display: block;
  margin: auto;
  margin-top: 24px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 1s;
}

.about-me {
  background:
    url(./assets/images/about_me_first_picture.svg) right -28px no-repeat,
    url(./assets/images/about_me_second_picture.svg) left 320px no-repeat;
}

.about-me-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.about-me-paragraph-mobile {
  padding-top: 24px;
  padding-left: 3.2%;
  padding-right: 3.2%;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.about-me-paragraph-desktop {
  display: none;
}

.about-me-button {
  display: block;
  margin: auto;
  margin-top: 24px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 1s;
}

.about-me-domain {
  width: 87.2%;
  margin: auto;
  margin-top: 59px;
  margin-bottom: 60px;
  display: grid;
  grid-template-rows: repeat(3, 352px);
  row-gap: 24px;
}

.about-me-languages {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.about-me-frameworks {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.about-me-skills {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.languages-icon,
.frameworks-icon,
.skills-icon {
  display: block;
  margin: auto;
  margin-top: 40px;
  padding: 18px;
  background: #fff;
  border-radius: 50%;
}

.languages-header,
.frameworks-header,
.skills-header {
  margin-top: 64px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.languages-list,
.frameworks-list,
.skills-list {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 8px;
  row-gap: 8px;
  list-style: none;
}

.language-element,
.framework-element,
.skill-element {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  padding: 12px;
  background: #fff;
  border-radius: 8px;
}

.form-header {
  padding-left: 6.4%;
  padding-right: 6.4%;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 58px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  margin-bottom: 44px;
}

.form-name,
.form-email {
  width: 91.44%;
  height: 48px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding-left: 16px;
}

.form-textarea {
  width: 91.44%;
  height: 114px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
  background: #fff;
  border: 1px solid #60c095;
  border-radius: 4px;
  padding-left: 12px;
}

.form-button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 1s;
}

.work-button:hover,
.about-me-button:hover,
.form-button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  color: #000;
  transform: scale(1.2);
}

.work-button:active,
.about-me-button:active,
.form-button:active {
  background: #008552;
}

hr {
  display: none;
}

.icons-bottom {
  padding-top: 0;
  padding-bottom: 17px;
}

.email-footer {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  margin-bottom: 270px;
}

.black-line {
  display: block;
  margin: auto;
  padding-top: 21px;
  padding-bottom: 8px;
}

footer {
  background: url(./assets/images/contact_form_first_picture.svg) right top no-repeat;
}

@media (min-width: 768px) {
  .mobile-menu,
  .welcome {
    display: none;
  }

  .header {
    margin-top: 0;
    height: 1036px;
    background-size: 100% 1036px;
    background-image: url(./assets/images/header_desktop_background.png);
  }

  .desktop-menu {
    padding-top: 26px;
    display: flex;
    justify-content: center;
    column-gap: 32px;
  }

  nav a {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .black-text-header {
    display: none;
  }

  .black-text-header-desktop {
    display: block;
    padding-left: 21.5%;
    padding-right: 21.5%;
    padding-top: 186px;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    color: #172b4d;
    animation-name: main-mobile-desktop;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
  }

  @keyframes main-mobile-desktop {
    50% {
      font-size: 58px;
    }
  }

  .header-paragraph {
    display: none;
  }

  .header-paragraph-desktop {
    display: block;
    padding-left: 21.5%;
    padding-right: 21.5%;
    padding-top: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #172b4d;
  }

  .icons-top {
    padding-top: 32px;
  }

  .chevron {
    margin-top: 84px;
  }

  .recent-works-header {
    display: none;
  }

  .recent-works-header-desktop {
    display: block;
    padding-top: 103px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
  }

  .green-line {
    display: none;
  }

  .recent-works {
    width: 81.25%;
    margin: auto;
    margin-top: 52px;
    margin-bottom: 192px;
    display: grid;
    grid-template-rows: repeat(2, 474px);
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 32px;
    column-gap: 1.67%;
  }

  .multi-post-header {
    font-family: "Poppins", sans-serif;
    color: #172b4d;
  }

  .multi-post-skill {
    color: #172b4d;
  }

  .about-me {
    background:
      url(./assets/images/about_me_first_picture_desktop.svg) right -60px no-repeat,
      url(./assets/images/about_me_second_picture_desktop.svg) left 80px no-repeat;
  }

  .about-me-paragraph-mobile {
    display: none;
  }

  .about-me-paragraph-desktop {
    display: block;
    width: 50%;
    margin: auto;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
  }

  .about-me-domain {
    width: 81.25%;
    margin: auto;
    margin-top: 52px;
    display: grid;
    grid-template-rows: repeat(1, 352px);
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.67%;
  }

  .form-header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 32.15%;
    height: 256px;
    margin-top: 164px;
    margin-left: 9.375%;
    margin-right: 1.67%;
    font-size: 30px;
    line-height: 52px;
  }

  .form {
    width: 52%;
    display: inline-flex;
    vertical-align: top;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
    margin-top: 164px;
    margin-bottom: 44px;
  }

  .form-name,
  .form-email,
  .form-textarea {
    width: 91%;
  }

  footer {
    padding-top: 297px;
    background:
      url(./assets/images/contact_form_first_picture_desktop.svg) 0 -35px
      no-repeat,
      url(./assets/images/contact_form_second_picture_desktop.svg) 300px 100px
      no-repeat,
      url(./assets/images/contact_form_third_picture_desktop.svg) right -200px no-repeat;
  }

  hr {
    height: 1px;
    display: block;
    background: #dfe1e6;
  }

  .icons-bottom {
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .email-footer {
    display: none;
  }

  .black-line {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  .recent-works {
    width: 95%;
  }

  .about-me-domain {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  .form-name,
  .form-email,
  .form-textarea {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 936px) {
  .selenium,
  .terminal {
    display: none;
  }
}
