/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
=============================================
main-mobile css
=============================================
*/

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.welcome {
  font-weight: 600;
  font-size: 20px;
  padding-top: 54px;
  padding-left: 6.4%;
  color: #28352f;
}

.fa-bars {
  position: absolute;
  top: 57px;
  right: 9.34%;
}

.header-mobile {
  margin-top: 16px;
  height: 648px;
  background-image: url(/assets/images/header_mobile_background.png);
  background-size: 100% 648px;
  text-align: center;
}

.black-text-header {
  padding-top: 64px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

span {
  color: #36b37f;
}

.header-paragraph {
  padding-top: 43px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
}

.social-media-icons {
  padding-top: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 19px;
}

.chevron {
  margin-top: 53px;
  padding: 8px;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
}

.recent-works-header {
  padding-top: 47px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.green-line {
  display: block;
  margin: auto;
  margin-top: 24px;
}

.recent-works {
  width: 87.2%;
  margin: auto;
  margin-top: 62px;
  margin-bottom: 68px;
  display: grid;
  grid-template-rows: repeat(6, 474px);
  row-gap: 24px;
}

.recent-work {
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.multi-post {
  margin-top: 250px;
  height: 222px;
  background: #fff;
  border-radius: 8px;
}

.multi-post-header {
  padding-top: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  text-align: center;
}

.multi-post-skills {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  column-gap: 2.14%;
  list-style: none;
}

.multi-post-skill {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  padding: 8px 3.2%;
  background: #ebf0ee;
  border-radius: 4px;
}

.work-button {
  display: block;
  margin: auto;
  margin-top: 24px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  cursor: pointer;
}

.about-me {
  background: url(/assets/images/about_me_first_picture.svg) right -25px no-repeat,
    url(/assets/images/about_me_second_picture.svg) left 290px no-repeat;
}

.about-me-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.about-me-paragraph-mobile {
  padding-top: 24px;
  padding-left: 3.2%;
  padding-right: 3.2%;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.about-me-button {
  display: block;
  margin: auto;
  margin-top: 24px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  cursor: pointer;
}

.about-me-domain {
  width: 87.2%;
  margin: auto;
  margin-top: 59px;
  margin-bottom: 60px;
  display: grid;
  grid-template-rows: repeat(3, 352px);
  row-gap: 24px;
}

.about-me-languages {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.about-me-frameworks {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.about-me-skills {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.languages-icon,
.frameworks-icon,
.skills-icon {
  display: block;
  margin: auto;
  margin-top: 40px;
  padding: 18px;
  background: #fff;
  border-radius: 50%;
}

.languages-header,
.frameworks-header,
.skills-header {
  margin-top: 64px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.languages-list,
.frameworks-list,
.skills-list {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 8px;
  row-gap: 8px;
  list-style: none;
}

.language-element,
.framework-element,
.skill-element {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  padding: 12px;
  background: #fff;
  border-radius: 8px;
}

.form-header {
  padding-left: 6.4%;
  padding-right: 6.4%;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 58px;
}

.work-button:hover,
.about-me-button:hover,
.form-buton:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.work-button:active,
.about-me-button:active,
.form-buton:active {
  background: #008552;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-name,
.form-email,
.form-textarea {
  margin-left: 24px;
  margin-right: 24px;
}

.form-name,
.form-email {
  padding: 15px 16px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6b778c;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  background: #fff;
}

.form-textarea {
  padding: 12px;
  border: 1px solid #60c095;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #091e42;
}

.form-buton {
  padding: 12px;
  align-items: center;
  margin: 0 123px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  background: #36b37f;
  border-radius: 4px;
  border: none;
}

.form-buton:hover {
  cursor: pointer;
  background: #091e42;
}
